*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding-top: 200px;
}


.BULB {
    height: 400px;
    width: 400px;
    background-color:transparent;
    border-radius: 200px;
    border: 4px,solid,rgb(231, 231, 231);
}

button{
    height: 40px;
    width: 60px;
    border-radius: 15px;
}

.lightupp{
background-color: yellow;
}