HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%; 
    width: 100%;
}


main{

    height:100%;
    width:100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns:22% 26% 26% 22%;
    grid-template-rows: 25% 22% 22% 25%;

    grid-template-areas: 
    "top-left top-center1 top-center2 top-right"
    "top-left center center top-right"
    "left-middle center center right-bottom"
    "left-bottom left-bottom bottom-center right-bottom"
    ;
    gap: 15px;
    padding: 10px;
}


.top-left{
    border-radius: 20px ;
    grid-area: top-left;
    background-color: rgb(183, 155, 162)
}

.top-left img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.top-right{
    border-radius: 20px ;
    grid-area: top-right;
    background-color: aqua;
}

.top-right img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.top-center1{
    border-radius: 20px ;
    grid-area: top-center1;
    background-color: rgb(196, 10, 10);
}

.top-center1 img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.top-center2{
    border-radius: 20px;
    grid-area: top-center2;
    background-color: rgb(162, 124, 28)
}

.top-center2 img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.center{
    border-radius: 20px ;
    grid-area: center;
    background-color: rgba(255, 247, 227, 0)
}

.center img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    align-self: center;
}


.left-middle{
    border-radius: 20px ;
    grid-area: left-middle;
    background-color: rgb(86, 209, 58);
}

.left-middle img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.left-bottom{
    border-radius: 20px ;
    grid-area:left-bottom;
    background-color: rgb(95, 126, 126);
}

.left-bottom img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.right-bottom{
    border-radius: 20px ;
    grid-area:right-bottom;
    background-color: rgb(255, 155, 4);
}

.right-bottom img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.bottom-center{
    border-radius: 20px ;
    grid-area: bottom-center;
    background-color: rgb(246, 246, 6);
}

.bottom-center img{
    border-radius: 20px;
    width: 100%;
    height:100%;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%; 
    width: 100%;
}


main{

    height:100%;
    width:100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns:22% 26% 26% 22%;
    grid-template-rows: 25% 22% 22% 25%;

    grid-template-areas: 
    "top-left top-center1 top-center2 top-right"
    "top-left center center top-right"
    "left-middle center center right-bottom"
    "left-bottom left-bottom bottom-center right-bottom"
    ;
    gap: 15px;
    padding: 10px;
}


.top-left{
    border-radius: 20px ;
    grid-area: top-left;
    background-color: rgb(183, 155, 162)
}

.top-left img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.top-right{
    border-radius: 20px ;
    grid-area: top-right;
    background-color: aqua;
}

.top-right img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.top-center1{
    border-radius: 20px ;
    grid-area: top-center1;
    background-color: rgb(196, 10, 10);
}

.top-center1 img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.top-center2{
    border-radius: 20px;
    grid-area: top-center2;
    background-color: rgb(162, 124, 28)
}

.top-center2 img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.center{
    border-radius: 20px ;
    grid-area: center;
    background-color: rgba(255, 247, 227, 0)
}

.center img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    align-self: center;
}


.left-middle{
    border-radius: 20px ;
    grid-area: left-middle;
    background-color: rgb(86, 209, 58);
}

.left-middle img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.left-bottom{
    border-radius: 20px ;
    grid-area:left-bottom;
    background-color: rgb(95, 126, 126);
}

.left-bottom img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.right-bottom{
    border-radius: 20px ;
    grid-area:right-bottom;
    background-color: rgb(255, 155, 4);
}

.right-bottom img{
    border-radius: 20px;
    width: 100%;
    height:100%;
}


.bottom-center{
    border-radius: 20px ;
    grid-area: bottom-center;
    background-color: rgb(246, 246, 6);
}

.bottom-center img{
    border-radius: 20px;
    width: 100%;
    height:100%;
>>>>>>> 1a34ee9927bf9024981d818ada96df80fa00d4b0
}